@{
    ViewBag.Title = "User Details";

}
@model List<Entityframeworktest.Models.tbl_UserMaster>
<link href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.0.1/css/bootstrap.min.css" />
<link href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css" />

<div class="container">
    <br />
    <br />
    <div class="card">
        <table id="example" class="table table-striped table-bordered" style="width:100%">
            <thead>

                <tr>
                    <th>EmployeeName</th>
                    <th>EmployeeDob</th>
                    <th>Gender</th>
                    <th>Address</th>
                    <th>State</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {

                <tr>
                    <td>@item.EmployeeName</td>
                    <td>@item.EmployeeDob</td>
                    <td>@item.Gender</td>
                    <td>@item.Address</td>
                    <td>@item.State</td>
                    <td><i class="fa fa-pencil" style="cursor:pointer" onclick="editUser('@item.EmployeeId')"></i>&nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-trash" style="cursor:pointer" onclick="deletUser('@item.EmployeeId')"></i></td>
                </tr>
                }
            </tbody>
        </table>
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.5.1.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap4.min.js"></script>

<script>

    function editUser(Id) {
        location.href = "/Home/Index?Id=" + Id;
    }

    function deletUser(Id) {
        var obj = { Id: Id};
        $.ajax({
            type: 'POST',
            cache: false,
            url: '/Home/DeleteUser',
            data: { data: JSON.stringify(obj) },
            success: function (res) {
                alert(res);
                window.location.reload(true);
            },
            error: function (jqXHR, textStatus, errorThrown) {
            }
        });
    }
   
    
</script>